body {
  background: black;
  color: white;
  font-family: sans-serif;
}

#help {
  font-size: 1.2em;
  position: sticky;
  top: 0;
  background: black;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  text-align: center;
}

#list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

#list li {
  margin-left: 2ch;
  margin-bottom: 1rem;
}

#list li::before {
  display: inline;
  font-weight: bold;
  margin-left: -2ch;
  content: attr(data-author) " está "
}

h3 {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1;
}

#avatarsjunta {
  margin-top: 5px;
  padding-left: 0;
}

#avatarsjunta li {
  display: inline;
  margin-right: 1ch;
}

#avatarsjunta img {
  width: 32px;
  border-radius: 100%;
}

#neterror {
  text-align: center;
  background: #500;
  color: white;
  padding: 10px;
}